extends ../layouts/base


block header
	include ../components/header

block container
	include ../components/slider
	include ../components/services
	include ../components/works
	include ../components/clients

block footer
	include ../components/footer
