.clients
	.section
		h2.section__title Clients
		
		.clients__content
			.clients-slider
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/01.png", alt="", height='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/02.png", alt="", height='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/03.png", alt="", height='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/01.png", alt="", height='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/02.png", alt="", width='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/03.png", alt="", width='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/01.png", alt="", width='100%')
						
				.clients-slider__slide
					.clients-slider__slide-simple
						img(src="./assets/images/clients/02.png", alt="", width='100%')
						

					
			
