include ./navigation

footer.footer
	.section
		.row.flex-items-xs-center
			.col.col-lg-6.col-md-7.col-sm-12.col-xs-12
				+navigation([
					{url: '#', text: 'Home'},
					{url: '#', text: 'About'},
					{url: '#services', text: 'Services'},
					{url: '#works', text: 'Works'},
					{url: '#', text: 'Blog '},
					{url: '#', text: 'Contact Us'}
					])(class='-footer')
				include ./copyright
			
			.col.col-lg-6.col-md-5.col-sm-12.col-xs-12
				include ./icon_social
