ul.icon_social
	li.icon_social__item
		a(href='#').icon_social__link
			img(src="./assets/images/icon_social/fb.png", alt="")
			
	li.icon_social__item
		a(href='#').icon_social__link
			img(src="./assets/images/icon_social/linkedin.png", alt="")
			
	li.icon_social__item
		a(href='#').icon_social__link
			img(src="./assets/images/icon_social/twitter.png", alt="")
			
	li.icon_social__item
		a(href='#').icon_social__link
			img(src="./assets/images/icon_social/pinterest.png", alt="")
			
	li.icon_social__item
		a(href='#').icon_social__link
			img(src="./assets/images/icon_social/dribbble.png", alt="")
			
	li.icon_social__item
		a(href='#').icon_social__link
			img(src="./assets/images/icon_social/google.png", alt="")
