.services
	.section
		.row
			.col-xs-4 
				.services__item
					h2.services__title Web Design
					figure.services__icon
						img(src="./assets/images/services/01.png", alt="")
					p.services__text.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Suspendisse rhoncus, lacus ac commodo volutpat, felis odio 
						pulvinar enim, non dapibus mauris nulla sed ipsum.
					a(href='#').services__link READ MORE
						
			.col-xs-4 
				.services__item
					h2.services__title Social Media
					figure.services__icon
						img(src="./assets/images/services/02.png", alt="")
					p.services__text.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Suspendisse rhoncus, lacus ac commodo volutpat, felis odio 
						pulvinar enim, non dapibus mauris nulla sed ipsum.
					a(href='#').services__link READ MORE
						
			.col-xs-4 
				.services__item
					h2.services__title Mobile Apps
					figure.services__icon
						img(src="./assets/images/services/03.png", alt="")
					p.services__text.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Suspendisse rhoncus, lacus ac commodo volutpat, felis odio 
						pulvinar enim, non dapibus mauris nulla sed ipsum.
					a(href='#').services__link READ MORE
