.slider
	
	.promo_slider
		.promo_slider--slide
			.promo_slider--slide_simple
				img(src="./assets/images/slider.png", alt="", width='100%')
			.promo_slider--slide_content
				h2 We are a Creative Digital Agency
				button.button
						span Learn More
				
		.promo_slider--slide
			.promo_slider--slide_simple
				img(src="./assets/images/slider.png", alt="", width='100%')
			.promo_slider--slide_content
				h2 We are a Creative Digital Agency
				button.button
						span Learn More
