.works
	a(name="works")
	.section
		h2.section__title Our Works
		.row
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/01.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/01.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/02.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/02.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/03.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/03.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/04.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/04.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/05.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/05.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/06.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/06.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/07.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/07.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/08.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						a(href='./assets/images/works/08.jpg' data-fancybox="gallery").works__link.-view
							img(src="./assets/images/works/preview.png")
						a(href='#').works__link
							img(src="./assets/images/works/link.png")
