.works
	.section
		h2.section__title Our Works
		.row
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/01.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						i.works__icon.fa.fa-link
						
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/02.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/03.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/04.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/05.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/06.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/07.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						
			.col.col-sm-3.col-xs-6
				.works__item
					figure.works__image
						img(src="./assets/images/works/08.jpg", alt="")
					.works__filter
						dl.works__filter-content
							dt This is Image Hover
							dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
