doctype html
html
	head
		meta(charset='UTF-8')
		title Main page
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,300,600,300italic,400italic,600italic" rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
		link(rel="stylesheet", href="assets/styles/main.css")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet")
		link(rel="stylesheet" href="./assets/libs/slick/slick.css" type="text/css")
		link(rel="stylesheet" href="assets/libs/slick/slick-theme.css" type="text/css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css")

	body
		
		block body
			.layout
				.layout--header
					block header
					
				.layout--container
					block container
					
				.layout--footer
					block footer

		include ../components/menu
		include ../partials/scripts
